[submodule "Electromagnetic-Waves-Scattering"]
	path = Electromagnetic-Waves-Scattering
	url = https://github.com/Abrackadabrr/Electromagnetic-Waves-Scattering
	branch = dev
[submodule "scattnlay"]
	path = scattnlay
	url = https://github.com/ovidiopr/scattnlay.git
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
